<h3>Endangered Animals</h3>

#if($endangered_animals.size() > 0)
  <ul>
    #foreach($endangered_animal in $endangered_animals)

    #end
  </ul>
#else
  <h5>There are no saved endangered animals at this time</h5>
#end

<h3>Regular Animals</h3>
#if($animals.size() > 0)
  <ul>
    #foreach($regular_animal in $regular_animals)

    #end
  </ul>

#else
  <h5>There are no saved animals at this time</h5>
#end
